.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width:767px) {
    .info {
        flex-direction: column;
        align-items: flex-start;
    }
}